.main-header {
  min-width: 320px;
  max-width: 700px;
  margin: 0 auto;
  color: #fff;
  background-color: #283645;
}
.main-nav {
  position: relative;
  width: 100%;
  min-height: 66px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.main-nav__list-links {
  position: absolute;
  top: 66px;
  left: 0px;
  width: 100%;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  background-color: #283645;
  z-index: 1;
}
.main-nav__list-links li {
  width: 100%;
  height: 63px;
  border-bottom: 1px solid #000;
}
.main-nav__list-links li:first-child {
  border-top: 1px solid #000;
}
.main-nav__link {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-transform: uppercase;
}
.logo {
  margin-left: 20px;
  font-size: 32px;
  line-height: 32px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
}
.btn-menu {
  position: relative;
  width: 50px;
  height: 26px;
  margin-right: 20px;
  border-bottom: 3px solid #fff;
  border-top: 3px solid #fff;
}
.btn-menu::after {
  content: "";
  position: absolute;
  top: 11.5px;
  left: 0px;
  width: 50px;
  height: 3px;
  background-color: #fff;
}
.app-information {
  min-height: 663px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.app-information__tagline {
  width: 221px;
}
.app-information__system-requirements {
  width: 241px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
}
.app-information__system-requirements::before {
  content: "";
  position: absolute;
  top: 70px;
  left: 22px;
  width: 241px;
  height: 69px;
}
.load-app-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.btn-load-app {
  display: block;
  width: 281px;
  padding: 15.5px 0;
  margin-bottom: 80px;
  line-height: 18px;
  font-weight: 700;
  color: #fff;
  border: 4px solid #fff;
  border-radius: 30px;
}
.btn-load-app:hover {
  color: #d22856;
  background-color: #fff;
}
.btn-load-app:active {
  opacity: 0.3;
}
@media (min-width: 700px) and (max-width: 1200px) {
  .logo::before {
    content: "";
    position: absolute;
    width: 59px;
    height: 40px;
  }
  .app-information {
    align-items: flex-start;
    padding: 0 40px;
  }
  .app-information__tagline {
    margin-left: 32px;
    font-size: 40px;
    line-height: 48px;
  }
}
.main-block {
  min-width: 320px;
  max-width: 700px;
  margin: 0 auto;
}
.app-features {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.app-features__head {
  width: 220px;
}
.app-features__head:nth-child(2) {
  margin-bottom: 65px;
}
.feature-wrapper {
  width: 100%;
  min-height: 754px;
  background-color: #f2f2f2;
}
.feature {
  margin-bottom: 40px;
}
.feature__head {
  margin-bottom: 0px;
}
.feature__describe {
  width: 252px;
  margin: 0 auto;
  font-size: 14px;
  text-align: center;
}
.research-wrapper {
  display: none;
}
.switch-btn {
  display: none;
}
.reviews-block {
  position: relative;
  min-height: 377px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}
.review {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}
.review__text {
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  text-align: center;
  font-size: 14px;
}
.review__autor-describe {
  display: none;
}
.toggle-wrapper {
  width: 66px;
  height: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.toggle-btn {
  width: 6px;
  height: 6px;
  background-color: #bfbfbf;
  border-radius: 50%;
  cursor: pointer;
}
.toggle-btn--active {
  background-color: #fff;
  border: 2px solid #000;
}
.price-list {
  min-height: 417px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
}
.price-table {
  margin-bottom: 30px;
  min-width: 828px;
}
.price-table__price-value {
  font-size: 24px;
  font-weight: 300;
}
.price-table th {
  width: 276px;
  height: 94px;
  color: #fff;
  background-color: #283645;
}
.price-table th:first-child {
  display: none;
}
.price-table td {
  width: 251px;
  height: 59px;
  padding-left: 25px;
  font-size: 14px;
  text-transform: uppercase;
  background-color: #fff;
}
.price-table td:first-child {
  display: none;
}
.contacts-block {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.contacts-block__head {
  width: 230px;
}
.contacts-block__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.contacts-block__item-describe {
  margin-top: 0px;
  text-align: center;
  font-size: 24px;
  color: #d22856;
}
.map {
  height: 200px;
  width: 100%;
}
@media (min-width: 700px) and (max-width: 1200px) {
  .app-features__head {
    width: 585px;
    margin-bottom: 0px;
  }
  .app-features__head:nth-child(2) {
    width: 340px;
    margin-top: 0px;
    margin-bottom: 65px;
  }
  .feature-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 0 40px;
    min-height: 489px;
    box-sizing: border-box;
  }
  .feature__head,
  .feature__describe {
    text-align: left;
  }
  .research-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }
  .research {
    width: 295px;
  }
  .research__head {
    width: 180px;
    font-size: 30px;
    text-align: left;
  }
  .research__describe {
    font-size: 14px;
  }
  .research__link {
    font-size: 14px;
    color: #d22856;
    text-decoration: underline;
  }
  .review {
    flex-direction: column;
  }
  .review__autor-describe {
    display: block;
  }
  .price-list {
    padding: 0 40px;
    box-sizing: border-box;
  }
  .price-table {
    margin-bottom: 30px;
    min-width: 100%;
  }
  .price-table__feature {
    display: none;
  }
  .price-table th {
    height: 75px;
  }
  .price-table th:first-child {
    display: table-cell;
    background-color: #f2f2f2;
  }
  .price-table td:first-child {
    display: table-cell;
  }
  .toggle-wrapper--price {
    display: none;
  }
  .contacts-block__head {
    width: 374px;
    font-size: 40px;
    line-height: 53px;
  }
  .contacts-block__item:first-child {
    width: 50%;
    order: 0;
  }
  .contacts-block__item:nth-child(3) {
    width: 50%;
    order: 1;
  }
  .contacts-block__item:nth-child(2) {
    width: 100%;
    order: 2;
  }
  .contacts-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
  }
}
.main-footer {
  display: none;
}
html {
  font-family: "PTSans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #000;
}
h2 {
  font-size: 24px;
  text-align: center;
  font-weight: 300;
}
h3 {
  font-size: 14px;
  text-align: center;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-align: center;
  text-decoration: none;
  color: #000;
}
/*figure {
  margin: 0;
  margin-right: -10px; //убираем отступ справа
  margin-bottom: -10px; //убираем отступ снизу
}

input[type="button"],
input[type="submit"] {
//  border: none;
  outline: none;
  cursor: pointer;
}*/
/*@font-size-icon: 19px;

@font-size--hotel-search-h2: 2.15rem;
@line-height--hotel-search-h2: 1.15rem;
@line-height--hotel-search-text: 1.2rem;
@font-size--hotel-search-btn: 1.5rem;

@font-size--hotel-sort: 0.85rem;
@line-height--hotel-sort: 0.85rem;

@font-size--form-hotel-search-h2: 1.15rem;

@font-size--footer-hashtag: 1.5rem;

@font-size--stars: 1.5rem;*/
