.sloping-background(@_top:-345px, @_border-height: 26px, @_border-width: 320px) {

  &::before {
    content: "";
    position: absolute;
    top: @_top;
    left: 0px;

    border: @_border-width solid transparent;
    border-right: 20px solid @color-gray;
    border-bottom: @_border-height solid @color-gray;
  }
}

.triangle-bottom(@_top: 0px, @_width: 160px, @_height: 36px) {
  &::before {
    content: "";
    position: absolute;
    top: @_top;
    left: 0px;

    border: @_width solid transparent;
    border-top: @_height solid @color-white;
  }
}
