.main-header {
//  min-width: 320px;
//  max-width: 700px;
  width: 320px;
  margin: 0 auto;

  color: @text-color--alt;

  background-color: @header-bkg-color;

  background-image:
    url("../../img/decor/iphone-5-in-hand-mobile.png"),
    url("../../img/decor/background-header-mobile.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: 0px 172px, top;
}

.main-nav {
  position: relative;
  width: 100%;
  min-height: 66px;
//  padding: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color: @main-nav-color;

  &__list-links {
    position: absolute;
    top: 66px;
    left: 0px;
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;

    background-color: @header-bkg-color;

    z-index: 1;

    li {
      width: 100%;
      height: 63px;

      border-bottom: 1px solid @color-black;

      &:first-child {
        border-top: 1px solid @color-black;
      }
    }
  }

  &__link {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    color: @text-color--alt;

    text-transform: uppercase;
  }
}

.logo {
  margin-left: 20px;

  font-size: 32px;
  line-height: 32px;
  font-weight: @font-weight;

  color: @text-color--alt;
  text-transform: uppercase;
}

.btn-menu {
  position: relative;
  width: 50px;
  height: 24px;
  margin-right: 20px;
  box-sizing: border-box;

//  background-color: @color-white;

  border-bottom: 4px solid @color-white;
  border-top: 4px solid @color-white;

  &::after {
    content: "";

    position: absolute;
    top: 6px;
    left: 0px;

    width: 50px;
    height: 4px;

    background-color: @color-white;
  }
}

.app-information {
  min-height: 664px;
  padding: 20px 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &__tagline {
    width: 230px;

    font-weight: @font-weight--light;
  }

  &__system-requirements {
    width: 241px;

    font-size: 14px;
    line-height: 24px;
    font-weight: @font-weight--light;
  }
}

.load-app-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 252px;
  width: 100%;
  padding-top: 28px;
  padding-bottom: 10px;
  box-sizing: border-box;

  background-color: @color-blue--dark;
}

.btn-load-app {
  display: block;
  width: 281px;
  padding: 15.5px 0;
//  margin-bottom: 80px;

  line-height: 18px;
  font-weight: @font-weight--bold;
  color: @text-color--alt;

  border: 4px solid @color-white;
  border-radius: 30px;

  &:hover {
    color: @color-pink;

    background-color: @color-white;
  }

  &:active {
    opacity: 0.3;
  }
}

.os-icons-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 210px;
}

/*@media(min-width: 700px) and (max-width: 1200px) {
  .main-header {
//    min-width: 700px;
//    max-width: 1200px;
    width: 700px;
  }

  .logo {
    &::before {
      content: "";
      position: absolute;
      width: 59px;
      height: 40px;
    }
  }

  .app-information {
    align-items: flex-start;
    padding: 0 40px;

    &__tagline {
      margin-left: 32px;

      font-size: @font-size--h2-tablet;
      line-height: 48px;
    }
  }
}

@media(min-width: 1200px) and (max-width: 1440px) {
  .main-header {
    min-width: 1200px;
    max-width: 1440px;
    padding: 0 120px;
    box-sizing: border-box;
    justify-content: space-between;
  }

  .logo {
    margin-left: 0;

    &::before {
      content: "";
      position: absolute;
      width: 59px;
      height: 40px;
    }
  }

  .btn-menu {
    display: none;
  }

  .main-nav {
    &__list-links {
      position: static;
      display: flex;
      flex-direction: row;
      width: 630px;

      li {
        width: auto;
        border-bottom: none;

        &:first-child {
          border-top: none;
        }
      }
    }

    &__link {
      text-transform: capitalize;
    }
  }

  .app-information {
    align-items: flex-start;
    padding: 0 40px;

    &__tagline {
      margin-left: 32px;

      font-size: @font-size--h2-tablet;
      line-height: 48px;
    }
  }
}*/
