.main-block {
  min-width: 320px;
  max-width: 700px;
//  width: 320px;
  margin: 0 auto;
}

.app-features {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  &__head {
    width: 220px;
  }
}

.feature-wrapper {
  width: 100%;
  min-height: 754px;

  background-color: @color-gray;
}

.feature {
  margin-bottom: 40px;

  &__head {
    margin-bottom: 0px;
  }

  &__describe {
    width: 252px;
    margin: 0 auto;

    font-size: 14px;
    text-align: center;
  }
}

.research-wrapper {
  display: none;
}

.switch-btn {
  display: none;
}

.reviews-block {
  position: relative;
  min-height: 377px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.review {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;

  &__text {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;

    text-align: center;
    font-size: 14px;
  }

  &__autor-describe {
    display: none;
  }
}

.toggle-wrapper {
//  position: absolute;
  width: 66px;
  height: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.toggle-btn {
  width: 6px;
  height: 6px;

  background-color: @color-gray--dark;

  border-radius: 50%;

  cursor: pointer;

  &--active {
    background-color: @color-white;

    border: 2px solid @color-black;
  }
}

.price-list {
  min-height: 417px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: @color-gray;
}

.price-table {
  margin-bottom: 30px;
  min-width: 828px;

  &__price-value {
    font-size: @font-size--h2;
    font-weight: @font-weight--light;
  }

  th {
    width: 276px;
    height: 94px;

    color: @text-color--alt;

    background-color: @color-blue--dark;

    &:first-child {
      display: none;
//      background-color: @color-gray;
    }
  }

  td {
    width: 251px;
    height: 59px;
    padding-left: 25px;

    font-size: 14px;
    text-transform: uppercase;

    background-color: @color-white;

    &:first-child {
      display: none;
    }
  }
}

.contacts-block {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;

  &__head {
    width: 230px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  &__item-describe {
    margin-top: 0px;

    text-align: center;
    font-size: @font-size--h2;
    color: @color-pink;
  }
}

.map {
  height: 200px;
  width: 100%
}

@media(min-width: 700px) and (max-width: 1200px) {
  .main-block {
    min-width: 700px;
    max-width: 1200px;
  }

  .app-features {
    &__head {
      width: 585px;

      font-size: 40px;
      line-height: 40px;
    }
  }

  .feature-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 0 40px;
    min-height: 489px;
    box-sizing: border-box;
  }

  .feature {
    &__head,
    &__describe {
      text-align: left;
    }
  }

  .research-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }

  .research {
    width: 295px;

    &__head {
      width: 180px;

      font-size: 30px;
      text-align: left;
    }

    &__describe {
      font-size: 14px;
    }

    &__link {
      font-size: 14px;
      color: @color-pink;
      text-decoration: underline;
    }
  }

  .review {
    flex-direction: column;

    &__autor-describe {
      display: block;
    }
  }

  .price-list {
    padding: 0 40px;
    box-sizing: border-box;
  }

  .price-table {
    margin-bottom: 30px;
    min-width: 100%;
//    width: 100%;

    &__feature {
      display: none;
    }

    th {
//    width: 152px;
      height: 75px;
       &:first-child {
        display: table-cell;
        background-color: @color-gray;
      }
    }

    td {
      &:first-child {
        display: table-cell;
      }
    }
  }

  .toggle-wrapper {
    &--price {
      display: none;
    }
  }

  .contacts-block {
    &__head {
      width: 374px;

      font-size: 40px;
      line-height: 53px;
    }

    &__item {
      &:first-child {
        width: 50%;
        order: 0;
      }

      &:nth-child(3) {
        width: 50%;
        order: 1;
      }

      &:nth-child(2) {
        width: 100%;
        order: 2;
      }
    }
  }

  .contacts-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
  }
}

@media(min-width: 1200px) {
  .main-block {
    min-width: 1200px;
    max-width: 1440px;
  }

  .app-features {
    &__head {
      width: 780px;

      font-size: 50px;
      line-height: 50px;
    }
  }

   .feature-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: flex-end;
//      padding: 0 40px;
      min-height: 520px;
      box-sizing: border-box;
  }

  .feature {
    margin-bottom: 40px;
    width: 252px;

    &__head {
      width: inherit;
      margin-bottom: 44px;

      font-size: 30px;
      line-height: 30px;
    }

    &__describe {
      width: 252px;
      margin: 0 auto;

      font-size: 18px;
      line-height: 30px;
      text-align: center;
    }
  }

  .research-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 0 120px;
    min-height: 450px;
    box-sizing: border-box;

    background-color: @color-gray;
  }

  .research {
    width: 50%;

    &__head {
      width: 180px;

      font-size: 30px;
      line-height: 30px;
      text-align: left;
    }

    &__describe {
      font-size: 18px;
      line-height: 30px;
    }

    &__link {
      font-size: 18px;
      color: @color-pink;
      text-decoration: underline;
    }
  }

  .review {
    position: relative;
    flex-direction: column;

    &__text {
      width: 694px;

      font-size: 18px;
    }

    &__autor {
      font-size: 24px;
      line-height: 30px;
    }

    &__autor-describe {
      display: block;
      font-size: 18px;
      line-height: 30px;
    }
  }

  .toggle-wrapper {
    display: none;
  }

  .switch-btn {
    display: block;
    width: 22px;
    height: 42px;
    position: absolute;

    &--back {
      top: 150px;
      left: 200px;
    }

    &--forward {
      top: 150px;
      right: 200px;
    }
  }

  .price-list {
    padding: 0 120px;
    box-sizing: border-box;
  }

  .price-table {
    margin-bottom: 30px;
    min-width: 100%;
//    width: 100%;

    &__feature {
      display: none;
    }

    th {
//    width: 152px;
      height: 75px;
       &:first-child {
        display: table-cell;
        background-color: @color-gray;
      }
    }

    td {
      &:first-child {
        display: table-cell;
      }
    }
  }

  .contacts-block {
    &__head {
      width: 470px;

      font-size: 50px;
      line-height: 50px;
    }

    &__item {
      &:first-child {
//        width: 30%;
        order: 0;
      }

      &:nth-child(3) {
//        width: 30%;
        order: 0;
      }

      &:nth-child(2) {
//        width: 30%;
        order: 0;
      }
    }
  }

  .contacts-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
}
