.main-footer {
  display: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 127px;
  width: 700px;
  padding: 0 40px;
  margin: 0 auto;
  box-sizing: border-box;

  background-color: @color-white;
}

.logo-wrapper {
  position: relative;
  z-index: 7;
}

.logo {
  &--footer {
    color: @logo-footer-color;

    &::before {
      content: "";
      position: absolute;
      top: -10px;
      left: 0px;
      width: 59px;
      height: 40px;

      background-image: url("../../img/sprites/spritesheet.png");
      background-repeat: no-repeat;
      background-position: -146px 0px;
    }

    &:hover::before {
      background-position: -59px -80px;
    }

    &:active {
      color: @logo-footer-color--active;

      &::before {
        background-position: 0px -80px;
      }
    }
  }
}

.social-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 179px;

  z-index: 7;
}

.social-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 43px;
  height: 42px;

  font-size: 0px;

  border: 3px solid @color-gray;
  border-radius: 50%;

  svg {
    fill: @color-pink;
  }

  &:hover {
    border-color: @social-btn-color--hover;
  }

  &:active {
    opacity: @opacity-value;
  }
}

.copyright {
  min-width: 190px;
  min-height: 30px;

  font-size: @html-size-alt;

  z-index: 7;

  &__describe {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.autor-logo,
.htmlacademy-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  font-size: 0px;

  svg {
    fill: @color-pink;
  }

  &:hover {
    svg {
      fill: @copyright-color--hover;
    }
  }

  &:active {
    svg {
      opacity: @opacity-value;
    }
  }
}

@media(min-width: 700px) and (max-width: 1440px) {
  .main-footer {
    display: flex;
  }
}

@media(min-width: 1200px) and (max-width: 1440px) {
  .main-footer {
    width: 1200px;
    min-height: 198px;
    padding: 0 130px;

//    z-index: 1;
  }

  .social-block {
    margin-left: 131px;
  }

  .logo {
    &--footer {
      font-size: 0px;

      &::before,
      &:hover::before,
      &:active::before {
        top: -12px;
        left: 0px;
        width: 146px;

        background-image: url("../../img/sprites/spritesheet.png");
        background-repeat: no-repeat;
        background-position: 0px 0px;
      }
    }
  }

  .copyright {
    min-width: 207px;

    font-size: @html-size-base;
  }
}
