.main-header {
  min-width: 320px;
  max-width: 700px;
//  width: 320px;
  margin: 0 auto;

  color: @text-color--alt;

  background-color: @header-bkg-color;
}

.main-nav {
  position: relative;
  width: 100%;
  min-height: 66px;
//  padding: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &__list-links {
    position: absolute;
    top: 66px;
    left: 0px;
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;

    background-color: @header-bkg-color;

    z-index: 1;

    li {
      width: 100%;
      height: 63px;

      border-bottom: 1px solid @color-black;

      &:first-child {
        border-top: 1px solid @color-black;
      }
    }
  }

  &__link {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    color: @text-color--alt;

    text-transform: uppercase;
  }
}

.logo {
  margin-left: 20px;

  font-size: 32px;
  line-height: 32px;
  font-weight: @font-weight;

  color: @text-color--alt;
  text-transform: uppercase;
}

.btn-menu {
  position: relative;
  width: 50px;
  height: 26px;
  margin-right: 20px;

//  background-color: @color-white;

  border-bottom: 3px solid @color-white;
  border-top: 3px solid @color-white;

  &::after {
    content: "";

    position: absolute;
    top: 11.5px;
    left: 0px;

    width: 50px;
    height: 3px;

    background-color: @color-white;
  }
}

.app-information {
  min-height: 663px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &__tagline {
    width: 221px;
  }

  &__system-requirements {
    width: 241px;

    font-size: 14px;
    line-height: 24px;
    font-weight: @font-weight--light;

    &::before {
      content: "";
      position: absolute;
      top: 70px;
      left: 22px;
      width: 241px;
      height: 69px;

//      background-color: #ffffff;
    }
  }
}

.load-app-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.btn-load-app {
  display: block;
  width: 281px;
  padding: 15.5px 0;
  margin-bottom: 80px;

  line-height: 18px;
  font-weight: @font-weight--bold;
  color: @text-color--alt;

  border: 4px solid @color-white;
  border-radius: 30px;

  &:hover {
    color: @color-pink;

    background-color: @color-white;
  }

  &:active {
    opacity: 0.3;
  }
}
