.main-block {
//  min-width: 320px;
//  max-width: 700px;
  width: 320px;
  margin: 0 auto;
}

.app-features {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  overflow: hidden;

  &__head {
    width: 220px;
    min-height: 249px;
    margin: 0;
    padding: 40px 0;
    box-sizing: border-box;

    p:first-child {
      margin-bottom: 27px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 725px;
    left: 81.5px;
    width: 157px;
    height: 320px;

    background-image: url("../../img/decor/iphone-mobile.png");
  }
}

.feature-wrapper {
  .sloping-background;

  position: relative;
  width: 100%;
  min-height: 754px;
  padding: 47px 0;
  box-sizing: border-box;

  background-color: @color-gray;
}

.feature {
  margin-bottom: 27px;

  &__head {
    margin-bottom: 8px;
  }

  &__describe {
    padding: 0 20px;

    font-size: 14px;
    line-height: 24px;
    text-align: center;
  }
}

.research-wrapper {
  display: none;
}

.switch-btn {
  display: none;
}

.reviews-block {
//  position: relative;
  min-height: 342px;
  padding-top: 42px;
  padding-bottom: 32px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;

  svg {
    display: none;
  }
}

.review {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;

  &__text {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;

    text-align: center;
    font-size: 14px;
  }

  &__autor {
    margin-bottom: 10px;
  }

  &__autor-describe {
    display: none;
  }
}

.toggle-wrapper {
//  position: absolute;
  width: 66px;
  height: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &--price {
    min-height: 104px;
    width: 100%;
    padding: 0 132px;
    box-sizing: border-box;

    background-color: @color-gray;
  }
}

.toggle-btn {
  width: 6px;
  height: 6px;

  background-color: @color-gray--dark;

  border-radius: 50%;

  cursor: pointer;

  &:hover {
    background-color: @color-black;
  }

  &:active {
    opacity: 0.5;
  }

  &--active {
    background-color: @color-white;

    border: 3px solid @color-black;

    &:hover {
      background-color: @color-white;

      border: 3px solid @color-black;
    }

    &:active {
      background-color: @color-white;

      border: 3px solid @color-black;
    }
  }
}

.price-list {
  .sloping-background(-316px);

  position: relative;
  min-height: 482px;
  padding-top: 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  overflow: hidden;

//  background-color: @color-gray;
}

.price-table-wrapper {
  width: 320px;
  min-height: 346px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  overflow: hidden;

  background-color: @color-gray;
}

.price-table {
  width: 828px;

  border-collapse: collapse;
//  background-color: @color-gray--dark;

  &__feature {
    display: inline-block;
    width: 135px;
    margin-right: 55px;

    vertical-align: top;
  }

  &__price-value {
    font-weight: @font-weight--light;
  }

  th {
    position: relative;
    width: 276px;
    height: 94px;
    box-sizing: border-box;

    color: @text-color--alt;
    text-transform: uppercase;

    background-color: @color-blue--dark;

    border-right: 2px solid @color-white;
//    border-bottom: 2px solid @color-white;

    overflow: hidden;

    &:first-child {
      display: none;
//      background-color: @color-gray;
    }

    &:last-child {
      border-right: 2px solid @color-blue--dark;
    }
  }

  td {
    width: 251px;
    height: 59px;
    padding: 0 25px;
    box-sizing: border-box;

    font-size: 14px;
    text-transform: uppercase;

    background-color: @color-white;

    border-right: 2px solid @color-gray--dark;
    border-bottom: 2px solid @color-gray--dark;

    &:first-child {
      display: none;
      padding-left: 15px;
      box-sizing: border-box;

      border-left: 2px solid @color-gray--dark;
      border-top: 2px solid @color-gray--dark;
    }
  }
}

.hit {
  &::after {
    content: "хит";
    width: 94px;
    height: 27px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 8px;
    left: -22px;

    font-size: 14px;
    font-weight: @font-weight;
    color: @color-white;

    background-color: @color-pink;

    transform: rotate(-45deg);
  }
}

.contacts-block {
  position: relative;
  width: 100%;
  padding-top: 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  &__head {
    width: 230px;
    margin-bottom: 27px;
  }

  &__item {
    margin-bottom: 17px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  &__item-describe {
    margin-top: 0px;

    text-align: center;
    font-size: @font-size--h2;
    color: @color-pink;

    a {
      color: inherit;

      &:hover {
        color: @color-black;
        text-decoration: underline;
      }

      &:active {
        opacity: 0.5;
      }
    }
  }
}

.contacts-wrapper {
  .triangle-bottom(@_top: 409px);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  width: inherit;

  min-height: 282px;

  z-index: 5;
}

.map {
  height: 200px;
  width: 100%;

  position: relative;

  background-image: url("../../img/decor/map-mobile.jpg");
  background-repeat: no-repeat;
  background-position: bottom;

  &::before {
    content: "";
    width: 16px;
    height: 16px;
    position: absolute;
    top: 93px;
    left: 140px;

    background-color: @color-pink;

    border-radius: 50%;
    border: 12px solid @color-white;
  }
}

@media(min-width: 700px) and (max-width: 1440px) {
  .main-block {
//    min-width: 700px;
//    max-width: 1200px;
    width: 700px;
  }

  .app-features {
//    padding: 0 40px;

    &__head {
      width: 700px;
      padding: 55px 0;
      margin-bottom: 43px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      font-size: 40px;
      line-height: 40px;

      p:first-child {
        margin: 0;
        margin-bottom: 12px;
      }

      p:nth-child(2) {
        width: 500px;
      }
    }

    &::after {
      width: 268px;
      height: 548px;
      top: 247px;
      left: 40px;

      background-image:
        url("../../img/decor/iphone-screen-3.jpg"),
        url("../../img/decor/iphone-tablet.png");
      background-repeat: no-repeat;
      background-position: center, top;
    }
  }

  .feature-wrapper {
    .sloping-background(-755px, 55px, 700px);

    min-height: 435px;
    padding: 20px 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
  }

  .feature {
    width: 310px;
    margin-bottom: 33px;

    &__head,
    &__describe {
      text-align: left;
    }

    &__describe {
      padding: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .research-wrapper {
    position: relative;
    padding: 100px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    &::before {
      content: "24";
      width: 194px;
      height: 194px;
      box-sizing: border-box;
      position: absolute;
      top: 135px;
      left: 74px;

      font-size: 104px;
      line-height: 150px;
      font-weight: @font-weight--bold;
      vertical-align: middle;
      text-align: center;
      color: @color-pink;

      border: 14px solid @color-pink;
      border-radius: 50%;
    }

    svg {
      position: absolute;
      top: 60px;
      left: 40px;

      fill: @color-gray--dark;
    }
  }

  .research {
    width: 310px;

    &__head {
      width: 180px;
      margin-bottom: 18px;

      font-size: 30px;
      line-height: 30px;
      text-align: left;
    }

    &__describe {
      margin-bottom: 5px;

      font-size: 14px;
      line-height: 24px;
    }

    &__link {
      font-size: 14px;
      color: @color-pink;
      text-decoration: underline;

      &:hover {
        color: black;
      }

      &:active {
        opacity: 0.5;
      }
    }
  }

  .reviews-block {
    min-height: 273px;
    padding: 20px 0;
//    margin-bottom: 55px;
  }

  .review {
    flex-direction: column;

    &__autor {
      margin-bottom: 0px;

      font-size: 20px;
      line-height: 30px;
    }

    &__text {
      margin-bottom: 38px;

      font-size: 18px;
      line-height: 30px;
    }

    &__autor-describe {
      display: block;

      font-size: 14px;
      line-height: 30px;
    }
  }

  .price-list {
    .sloping-background(-702px, 55px, 700px);
    min-height: 380px;
    padding: 0 40px;
    padding-top: 53px;
    box-sizing: border-box;
  }

  .price-table-wrapper {
    width: 700px;
    min-height: 325px;
    padding-top: 43px;
    box-sizing: border-box;
    justify-content: flex-start;
  }

  .price-table {
//    margin-bottom: 30px;
//    min-width: 100%;
//    width: 100%;
    width: 620px;

    &__feature {
      display: none;
    }

    th {
//    width: 152px;
      height: 75px;
       &:first-child {
        display: table-cell;
        background-color: @color-gray;
      }
    }

    td {
      height: 45px;
      padding: 0;
      text-align: center;

      font-size: 14px;
      text-transform: capitalize;

      &:first-child {
        display: table-cell;
        text-align: left;
      }

      svg {
        display: inline-block;

        text-align: center;
        vertical-align: middle;
      }
    }
  }

  .toggle-wrapper {
    &--price {
      display: none;
    }
  }

  .contacts-block {
    &__head {
      width: 374px;
      margin-bottom: 0;

      font-size: 40px;
      line-height: 53px;
    }

    &__item {
      &:first-child {
        width: 50%;
//        order: 0;
      }

      &:nth-child(3) {
        width: 100%;
//        order: 1;
      }

      &:nth-child(2) {
        width: 50%;
//        order: 2;
      }
    }
  }

  .map {
    min-height: 380px;

    background-image: url("../../img/decor/map-tablet.jpg");
//    background-position: center;

    &::before {
      top: 199px;
      left: 330px;
    }
  }

  .contacts-wrapper {
    .triangle-bottom(398px, 350px, 72px);

    min-height: 252px;
    padding: 0 30px;
    padding-top: 28px;
    box-sizing: border-box;
    flex-direction: row;
    align-content: space-around;
  }
}

@media(min-width: 1200px) and (max-width: 1440px) {
  .main-block {
    width: 1200px;
  }

  .app-features {
    width: 1200px;

    &__head {
      width: 780px;
      padding: 75px 0px;
      margin-bottom: 105px;

      font-size: 50px;
      line-height: 50px;
    }

    &::after {
      display: none;
    }
  }

  .feature-wrapper {
    .sloping-background(-1295px, 96px, 1200px);

    min-height: 469px;
    padding: 0 155px;
    flex-direction: row;
    justify-content: space-between;
  }

  .feature {
    position: relative;

    width: 250px;
    min-height: 205px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &::before {
      content: "";
      position: absolute;
      top: -357px;
      left: 34px;

      width: 187px;
      height: 306px;

      background-image: url("../../img/decor/iphone-laptop.png");
      background-repeat: no-repeat;
      background-position: top;
    }

    &:first-child::after {
      content: "";
      position: absolute;
      top: -313px;
      left: 42px;

      width: 170px;
      height: 264px;

      background-image: url("../../img/decor/screen1-laptop.jpg");
      background-repeat: no-repeat;
      background-position: center;
    }

    &:nth-child(2)::after {
      content: "";
      position: absolute;
      top: -313px;
      left: 42px;

      width: 170px;
      height: 264px;

      background-image: url("../../img/decor/screen2-laptop.jpg");
      background-repeat: no-repeat;
      background-position: center;
    }

    &:nth-child(3)::after {
      content: "";
      position: absolute;
      top: -313px;
      left: 42px;

      width: 170px;
      height: 264px;

      background-image: url("../../img/decor/screen3-laptop.jpg");
      background-repeat: no-repeat;
      background-position: center;
    }

    &__head {
      font-size: 30px;
      line-height: 30px;
      text-align: center;
    }

    &__describe {
      font-size: 18px;
      line-height: 30px;
      text-align: center;
    }
  }

  .research-wrapper {
    padding: 0px 160px;
    padding-top: 155px;
    padding-bottom: 110px;

    background-color: @color-gray;

    &::before {
      width: 224px;
      height: 224px;
      top: 147px;
      left: 165px;

      font-size: 120px;
      line-height: 180px;
    }

    svg {
      width: 310px;
      height: 350px;
      left: 122px;
    }
  }

  .research {
    width: 542px;

    &__head {
      width: 300px;
      margin-bottom: 27px;
    }

    &__describe {
      margin-bottom: 30px;

      font-size: 18px;
      line-height: 30px;
    }

    &__link {
      font-size: 18px;
    }
  }

  .reviews-block {
    position: relative;
    min-height: 410px;
    padding: 0 190px;
    padding-bottom: 35px;

    svg {
      display: block;
      position: absolute;
      top: 60px;
      left: 550px;

      fill: @color-gray;
    }
  }

  .review {
    &__autor {
      font-size: 24px;
    }

    &__autor-describe {
      font-size: 18px;
    }
  }

  .toggle-wrapper {
    display: none;
  }

  .switch-btn {
    display: block;
    width: 30px;
    height: 46px;
    position: absolute;

    &--forward,
    &--back {
      top: 210px;
    }

    &--forward {
      right: 130px;
    }

    &--back {
      left: 130px;
    }
  }

  .price-list {
    .sloping-background(-1199px, 94px, 1200px);

    width: 1200px;
    padding-top: 94px;
  }

  .price-table-wrapper {
    width: 1200px;
    padding-top: 63px;
    padding-bottom: 96px;
  }

  .price-table {
    width: 940px;
    min-height: 280px;

    &__price-value {
      font-size: 24px;
      line-height: 30px;
    }

    &__main-feature {
      font-size: 18px;
      line-height: 30px;
    }
  }

  .contacts-block {
    padding-top: 70px;

    &__head {
      width: 461px;

      font-size: 50px;
    }

    &__item {
      margin-bottom: 0px;

      b {
        margin-bottom: 20px;
      }
    }

    &__item:first-child,
    &__item:nth-child(2),
    &__item:nth-child(3) {
      width: 33%;
    }

    &__item:first-child {
      order: 1;
    }

    &__item:nth-child(2) {
      order: 3;
    }

    &__item:nth-child(3) {
      order: 2;
    }
  }

  .contacts-wrapper {
    .triangle-bottom(347px, 600px, 121px);

    min-height: 171px;
    align-items: flex-start;
    padding: 0 118px;
    padding-top: 62px;
  }

  .map {
    min-height: 526px;

    background-image: url("../../img/decor/map-laptop.jpg");

    &::before {
      top: 289px;
      left: 571px;
    }
  }
}
