.main-block {
  min-width: 320px;
  max-width: 700px;
//  width: 320px;
  margin: 0 auto;
}

.app-features {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  &__head {
    width: 220px;

    &:nth-child(2) {
      margin-bottom: 65px;
    }
  }
}

.feature-wrapper {
  width: 100%;
  min-height: 754px;

  background-color: @color-gray;
}

.feature {
  margin-bottom: 40px;

  &__head {
    margin-bottom: 0px;
  }

  &__describe {
    width: 252px;
    margin: 0 auto;

    font-size: 14px;
    text-align: center;
  }
}

.research-wrapper {
  display: none;
}

.switch-btn {
  display: none;
}

.reviews-block {
  position: relative;
  min-height: 377px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.review {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;

  &__text {
    width: 276px;

    text-align: center;
    font-size: 14px;
  }

  &__autor-describe {
    display: none;
  }
}

.toggle-wrapper {
//  position: absolute;
  width: 66px;
  height: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.toggle-btn {
  width: 6px;
  height: 6px;

  background-color: @color-gray--dark;

  border-radius: 50%;

  cursor: pointer;

  &--active {
    background-color: @color-white;

    border: 2px solid @color-black;
  }
}

.price-list {
  min-height: 417px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: @color-gray;
}

.price-table {
  margin-bottom: 30px;
  min-width: 828px;

  &__price-value {
    font-size: @font-size--h2;
    font-weight: @font-weight--light;
  }

  th {
    width: 276px;
    height: 94px;

    color: @text-color--alt;

    background-color: @color-blue--dark;

    &:first-child {
      display: none;
    }
  }

  td {
    width: 251px;
    height: 59px;
    padding-left: 25px;

    font-size: 14px;
    text-transform: uppercase;

    background-color: @color-white;

    &:first-child {
      display: none;
    }
  }
}

.contacts-block {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  &__head {
    width: 230px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  &__item-describe {
    margin-top: 0px;

    text-align: center;
    font-size: @font-size--h2;
    color: @color-pink;
  }
}

.map {
  height: 200px;
  width: 100%
}

